.first{

background-colour:#3399Ff

}

.second{

background-colour:#ff9933

}

p {

font-family: Times New Roman;
font-size:15px;
display:block; 

}

.btn.btn-success {

background-color:#D4AC0D

}

h1 {

color: #154360;
font-family: Times New Roman;
font-weight: bold;

}

h2 {

color: #154360;
font-family: Times New Roman;
font-weight: bold;


}

h3 {

color: #154360;
font-family: Times New Roman;
font-weight: bold;

}


